@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
    --color-white: #fff; 
    --color-blue: rgba(54, 113, 233, 1);
    --color-dark-blue: rgba(13, 13, 43, 1);
    --color-black: #000;
    --color-blue-secondary: #2B076E;
    
    --text-color-accent: rgba(130, 130, 130, 1);
    --text-color-unaccent: rgba(224, 224, 224, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

/* Custom scroll */
::-webkit-scrollbar {
    background-color: var(--color-dark-blue);
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    border-radius: 10px;
}

.container {
    width: 1200px;
}

.btn {
    padding: 16px 30px;
    background-color: var(--color-blue);
    border-radius: 32px;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 8px 2px rgb(65, 65, 209);
    transition: .2s;
}

.btn__icon {
    width: 32px;
    height: 32px;
    background-color: var(--color-white);
    border-radius: 50%;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iicon {
    color: var(--color-blue);
    font-size: 17px;
}

.title {
    font-weight: bold;
    font-size: 40px;
    line-height: 150%; 
    color: var(--color-white);
}

.h4-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-white);

}

.h3-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: var(--color-white);
}

.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--text-color-unaccent);
}

::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 150%;
    color: var(--color-dark-blue);
}

.header {
    background: var(--color-dark-blue);
    display: flex;
    justify-content: center;
}

.header .container {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    padding: 60px 0;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: var(--color-white);
    margin-left: 12px;
}

.nav__menu {
    display: flex;
    margin-left: 420px;
}

.nav__link {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--color-white);
    margin-left: 32px;
}

.nav__link:hover {
    opacity: .8;
    transition: .3s;
}

.nav__autorize {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav__stick {
    opacity: 0.3;
    width: 24px;
    border: 1px solid #F2F2F2;
    transform: rotate(90deg);
    margin-right: 24px;
}

.nav__login {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding-right: 24px;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.burger {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    margin-left: auto;
}

.burger i {
    font-size: 25px;
    color: var(--color-white);
}

@media screen and (max-width:1024px) {
    .nav__menu, .nav__autorize{
        display: none;
    }

    .burger {
        display: flex;
    }

    .header {
        padding: 0 20px;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount {
    display: flex;
    max-width: 365px;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    padding: 10px;
}

.discount__save {
    padding: 8px 16px;
    background: var(--color-white);
    border-radius: 32px;
}

.discount__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--color-dark-blue);
}

.discount__title {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--color-white);
}

.header__title {
    margin-top: 24px;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: var(--color-white);
}

.header__text {
    margin-top: 24px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--text-color-unaccent);
    padding-right: 160px;
}

.header__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

/* Section Why Crappo */
.why-crappo {
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
    background-color: var(--color-dark-blue);
}

.why-crappo .container {
    width: 1200px;
}

.why-crappo .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 150%; 
    color: var(--color-white);
}

.why-crappo .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--text-color-unaccent);
}

.icon {
    color: var(--color-blue);
    font-size: 30px;
}

.icon-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-crappo__numbers {
    display: flex;
    justify-content: space-between;
}

.numbers__item {
    display: flex;
}

.numbers__content {
    margin-left: 24px;
}

.why-crappo__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 175px;
}

.content__explanation {
    margin-left: 120px;
}

.explanation__title {
    margin-bottom: 24px;
    width: 480px;
}

.explanation__text {
    margin-bottom: 32px;
    width: 408px;
}

/* Section Calculate */
.calculate {
    display: flex;
    justify-content: center;
    background-color: var(--color-dark-blue);
}

.calculate .container {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 220px 0;
    position: relative;
}

.calculate__text {
    padding: 24px 180px 0 180px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color-unaccent);
}

.calculator {
    width: 100%;
    background-color: var(--color-white);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0px 10px 50px #391777 ;
    position: absolute;
    bottom: -220px;
    left: 0;
}

.form-calculator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-calculate__hash, .form-calculate__ths {
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--text-color-unaccent);
    outline: none;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-dark-blue);
}

.form-calculate__hash {
    width: 400px;
}

.form-calculate__ths {
    width: 200px;
}

.calculate__content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.calculator__revenue {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-blue);
}

.calculator__value {
    margin-top: 16px;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--color-dark-blue);
}

.calculator__value span {
    color: var(--color-blue);
}

.calculator__placeholder {
    margin-top: 4px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--text-color-accent);
}

/* Crypto Section */
.crypto {
    display: flex;
    justify-content: center;
}

.crypto .container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 315px 0 100px 0;
}

.crypto__title {
    color: var(--color-dark-blue);
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
}

.crypto__cards {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.cards__card {
    width: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #2B076E;
    backdrop-filter: blur(250px);
    border-radius: 16px;
}

.icon-container__coin-btc {
    margin: 50px 145px 50px 145px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F9AA4B -0.02%, #F7931A 99.99%);
}

.icon-container__coin-vtc {
    margin: 50px 145px 50px 145px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #59C19C;
}

.icon-container__coin-eth {
    margin: 50px 145px 50px 145px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1181E8;
}

.coin__icon {
    color: var(--color-white);
    font-size: 48px;
}

.card__name {
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.card__name span {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.7;
    margin-left: 8px;
    color: var(--color-white);
}

.card__text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--color-white);
    padding: 0 24px 0 24px;
}

.card__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 48px 0;
}

/* Features Section */
.features {
    display: flex;
    justify-content: center;
    background-color: var(--color-blue-secondary);
}

.features .container {
    display: flex;
    flex-direction: column;
    margin: 100px 0 100px 0;
}

.features__title {
    text-align: center;
    padding: 0 200px 0 200px;
}

.features__products {
    display: flex;
    flex-direction: column;
}

.products__invest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.invest__text {
    margin: 24px 0 32px 0;
    padding-right: 150px;
}

.products__statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.statistics__content {
    margin-left: 90px;
}

.statistics__text {
    margin: 24px 0 32px 0;
    padding-right: 50px;
}

.products__profit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.profit__text {
    margin: 24px 0 32px 0;
}

/* Start Mining Section */
.start-mining {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
}

.start-mining .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 90px 0 90px 0;
}

.start-mining__block {
    width: 100%;
    background-color: var(--color-blue);
    padding: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__text {
    margin-top: 16px;
    color: var(--color-white);
}

.block__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-block__email {
    width: 375px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
    background: none;
    margin: 0 40px 0 190px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--color-white);
}

.form-block__email::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--color-white);
}

.form-block__btn {
    padding: 16px 30px;
    background-color: var(--color-white);
    border-radius: 32px;
    color: var(--color-dark-blue);
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.form-block__btn:hover {
    opacity: 0.9;
    transition: .2s;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    background-color: var(--color-dark-blue);
}

.footer .container {
    display: flex;
    flex-direction: column;
    margin: 80px 0 80px 0;
}

.footer__footer-blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-blocks__content {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.footer-block2 {
    margin-left: 170px;
}

.footer-blocks__content a {
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    color: #F2F2F2;
}

.content__title {
    margin-bottom: 24px;
}

.footer-block3 {
    margin-right: 105px;
}

.footer-blocks__payment {
    display: block;
    align-items: center;
    justify-content: flex-end;
    width: 355px;
}

.payment__pay-systems {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    cursor: pointer;
}

.footer__footer-socials {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.footer-socials img{
    margin-left: 34px;
}

/* Media Queries */
@media screen and (max-width:1024px) {
    .container {
        max-width: 1004px;
    }

    img:not(.footer-socials img) {
        width: 60%;
    }

    .discount__text {
        font-size: 12px;
    }

    .text {
        font-size: 14px;
    }

    .h3-title {
        font-size: 20px;
    }

    .header__title {
        font-size: 48px;
        line-height: 50px;
    }

    .header__text {
        font-size: 12px;
    }

    .header__content img {
        width: 80%;
    }

    .btn {
        padding: 10px 20px;
        font-size: 12px;
    }

    .btn__icon {
        width: 20px;
        height: 20px;
        margin-left: 18px;
    }

    .icon {
        font-size: 14px;
    }

    .icon-container {
        width: 60px;
        height: 60px;
    }

    .why-crappo .container {
        width: 784px;
    }

    .content__explanation {
        margin-left: 0px;
    }

    .explanation__title {
        width: 320px;
    }

    .cards__card {
        width: 330px;
        height: 420px;
    }

    .invest {
        margin-left: 25px;
    }

    .profit {
        margin-left: 15px;
    }

    .start-mining__block {
        width: 1000px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 760px;
    }

    img:not(.footer-socials img) {
        width: 80%;
    }

    .title {
        font-size: 30px;

    }

    .header__content {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .why-crappo__numbers {
        margin-left: 10px;
    }

    .why-crappo__content {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .content__explanation {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .crypto__cards {
        flex-direction: column;
        column-gap: 25px;
        display: flex;
        align-items: center;
    }

    .features__title {
        text-align: center;
        padding: 0 0 0 0;
    }

    .invest {
        flex-direction: column;
        display: flex;
        align-items: center;
    }    

    .invest__content {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .invest__text {
        padding-right: 0;
    }

    .statistics {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
    }

    .statistics__content {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-left: 46px;
    }

    .statistics__text {
        padding-right: 0;
        text-align: center;
    }

    .profit {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .profit img {
        margin-right: 100px;
    }

    .profit__content {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .profit__text {
        padding-right: 0;
        text-align: center;
    }

    .start-mining__block {
        width: 100%;
        flex-direction: column;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    .block__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content__title {
        margin-bottom: 0;
    }

    .form-block {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .form-block__email {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer__footer-blocks {
        flex-direction: column;
    }

    .footer-block3, .footer-block2, .footer-blocks__payment{
        border-bottom: 1px solid rgb(134, 134, 134);
        width: 350px;
    }

    .footer-block2 {
        border-top: 1px solid rgb(134, 134, 134);
    }

    /* .payment__pay-systems {
        flex-direction: column;
    } */

    .footer-block2 {
        margin-left: 0;
    }
    
}

@media screen and (max-width: 375px) {
    .container {
        width: 369px;
    }

    .why-crappo__numbers {
        flex-direction: column;
        margin-left: 50px;
    }

    .calculate__title {
        text-align: center;
    }

    .calculate__text {
        padding: 24px 0 180px 0;
    }

    .form-calculator {
        flex-direction: column;
    }

    .form-calculate__hash {
        width: 300px;
    }
    
    .form-calculate__ths {
        width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .features__title {
        text-align: center;
        padding: 0 0 0 0;
    }

    .form-block__email {
        width: 250px;
    }
}